# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db

# Virtual Environment
venv/
env/
ENV/
.venv/

# Jupyter Notebooks
.ipynb_checkpoints

# IDEs
.idea/
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Output folder
output/
results/

# .env file containing sensitive data
.env

# Dependency directories
node_modules/
